.modaleBird {
  height: 50px;
  width: 50px;
  transform: rotate(3.142rad);
  color: white;
  margin-left: 7.5rem;
  align-self: center;
}

.modaleText {
  font-size: 20px;
  font-weight: bolder;
  color: white;
  text-align: center;
}

.modaleInput {
  width: 18.75rem;
  height: 3.75rem;
  border: solid #808080 1.5px;
  color: white;
}

.modaleButton {
  width: 12.5rem;
  border-radius: 15px;
  background-color: white;
  color: black;
  font-weight: bolder;
}

.modaleError {
  font-size: 15px;
  font-weight: bolder;
  color: red;
  text-align: center;
}
