.bird_div {
  margin: 1.5rem 0rem 0rem 1.5rem;
}

.bird {
  height: 40px;
  width: 40px;
  transform: rotate(3.142rad);
  transition-duration: 0.75s;
}

.bird:hover {
  height: 40px;
  width: 40px;
  transform: rotate(6.142rad);
  transition-duration: 0.75s;
}

@media (min-width: 875px) {
  .bird_div {
    margin: 1.5rem 0rem 0rem 1.5rem;
  }

  .bird {
    height: 90px;
    width: 90px;
  }

  .bird:hover {
    height: 90px;
    width: 90px;
  }
}
