body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  /* for hashtag background */
  /* background-color: #38506B; */
}



/* .ant-modal-body {
  background-color: #4096FF;
  height: 350px;
} */

