html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

/* css background des modals */
.ant-modal .ant-modal-content {
  background-color: #2a3c50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* css placeholder des modals */
.ant-modal .ant-modal-content ::placeholder {
  color: white;
}
