.hashCard {
  margin: 0px 5px 0px 5px;
  min-height: 70px;
  display: flex;
  flex-direction: column;
}

.hashTag {
  color: white;
  font-weight: 700;
  margin-bottom: 8px;
  cursor: pointer;
}

.hashTag:hover {
  color: #4096ff;
}

.hashCount {
  font-size: 12px;
  color: #666a7c;
  font-weight: 800;
}

@media (min-width: 875px) {
  .hashCard {
    width: 100%;
  }
}
