.mainHome {
    display: flex;
    max-height: 100vh;
}

.leftSide {
    height: 100vh;
    width: 24%;
    background-color: #2A3C50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.bird {
    height: 60px;
    width: 60px;
    transform: rotate(3.142rad);
}

.userInfos {
    display: flex;
    color: white;
    margin-bottom: 30px;
}

.egg {
    height: 40px;
    width: 40px;
    background-color: #4096FF;
    border-radius: 50%;
    padding: 5px;
    margin-right: 15px;
}

.userFirstname {
    font-weight: bold;
    margin-bottom: 5px;
}

.userUsername {
    color: #666a7c;
}

.middle {
    height: 100vh;
    width: 42%;
    background-color: #2A3C50;
    border-left: solid #666a7c 1.5px;
    border-right: solid #666a7c 1.5px;
}

.tweet_div {
    height: 30vh;
    border-bottom: solid #666a7c 1.5px;
}

.lastTweets_div {
    min-height: 60vh;

}

.rightSide {
    height: 100vh;
    width: 34%;
    background-color: #2A3C50;
}