.mainHome {
  display: flex;
  height: 100vh;
  background: linear-gradient(to bottom left, #4096ff, #2a3c50 55%);
}

.leftSide {
  height: 95vh;
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bird_div {
  margin: 1.5rem 0rem 0rem 1.5rem;
}

.bird {
  height: 60px;
  width: 60px;
  transform: rotate(3.142rad);
  transition-duration: 0.75s;
  cursor: pointer;
}

.bird:hover {
  height: 70px;
  width: 70px;
  transform: rotate(6.142rad);
  transition-duration: 0.75s;
}

.user_div {
  margin: 0rem 0rem 1.5rem 1.5rem;
}

.userInfos {
  display: flex;
  color: white;
  margin-bottom: 30px;
}

.egg {
  height: 40px;
  width: 40px;
  background-color: #4096ff;
  border-radius: 50%;
  padding: 5px;
  margin-right: 15px;
}

.userFirstname {
  font-weight: bold;
  margin-bottom: 5px;
}

.userUsername {
  color: #666a7c;
}

.middle {
  height: 99%;
  width: 42%;
  background-color: #2a3c50;
  border-left: solid #666a7c 1.5px;
  border-right: solid #666a7c 1.5px;
}

.tweet_div {
  height: 30%;
  border-bottom: solid #666a7c 1.5px;
}

.lastTweets_div {
  height: 67.3%;
  overflow-y: auto;
}

.lastTweets_div::-webkit-scrollbar {
  width: 15px;
}

.lastTweets_div::-webkit-scrollbar-track {
  background-color: white;
}

.lastTweets_div::-webkit-scrollbar-thumb {
  background-color: #1677ff;
  border-radius: 10px;
}

.lastTweets_div::-webkit-scrollbar-thumb:hover {
  background-color: #4096ff;
}

.rightSide {
  width: 34%;
}
