.main {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.title_div {
  font-size: 22px;
}

.input_div {
  display: flex;
  justify-content: center;
}

.textArea {
  width: 600px;
  border: solid 3px #666a7c;
  background-color: #2a3c50;
  color: white;
  font-size: large;
  font-weight: bold;
}

.textArea:focus {
  background-color: #31465e;
}

.textArea:hover {
  background-color: #31465e;
}

.textArea::placeholder {
  color: white;
}

.button_div {
  margin-top: 15px; /** CHANGED*/
  margin-right: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tweetButton {
  width: 100px;
  border-radius: 20px;
  margin-left: 20px;
}

@media (min-width: 875px) {
  .title_div {
    font-size: 25px;
  }

  .button_div {
    margin-top: 30px;
  }
}
