.user_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 1.5rem;
}

.userInfos {
  display: flex;
  color: white;
  margin-right: 1rem;
}

.egg {
  height: 30px;
  width: 30px;
  background-color: #4096ff;
  border-radius: 50%;
  padding: 5px;
  margin-right: 15px;
}

.userFirstname {
  font-weight: bold;
  margin-bottom: 5px;
}

.userUsername {
  color: #666a7c;
}

@media (min-width: 875px) {
  .user_div {
    width: 0%;
    display: block;
    margin: 0rem 0rem 1.5rem 1.5rem;
  }

  .userInfos {
    margin-bottom: 30px;
  }
}
